#container{
    height: 500px;
    width: 500px;
    overflow: hidden; /*zoomed inside container
     otherwise outside of the container*/

}
img{
    transform-origin: center center;
    object-fit: cover;
    width: 100%;
    height: 100%;

}