#container{
    position:fixed;
    bottom:10px;
    right:10px;
}
.notification {
    background-color: #04AA6D;
    border-radius: 5px;
    color: black;
    padding: 2rem;
    margin: 1rem;
}

.notification h4 span{
    color:rgb(235, 33, 33);
}
